<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Panel</title>
  
  <link rel="stylesheet" href="{{url_for('static', filename='css/estiloInfo.css')}}">
</head>
<body>
    <div class="B1">
    <a href="{{ url_for ('panel')}}">   </a>   

    <button class="button button2" >Volver</button>
</a>
    <button class="button button1">
         
      Nuevo
    </button>
    <button class="button button1">Cancelar</button>
    <button class="button button1">Editar</button>

      </div>


      <div class="Contenedor">
        
        <div class="C2" id="Prin">
         
            <table class="default">

                <tr>
              
                  <th>Vuelo</th>              
                  <th>Avion</th>              
                  <th>Piloto</th>
                  <th>Destino</th>
                  <th>Hora Salida</th>
                  <th>Hora Llegada</th>
                  <th>Pista</th>
                  <th>Cantidad Cupos</th>
                  <th>Puestos Vendidos</th>
                  <th>Puestos Libres</th>
                  </tr>
                 <tr>              
                    <th></th>              
                    <th></th>              
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>              
                    <th></th>              
                    <th></th>              
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>              
                  <th></th>              
                  <th></th>              
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
              </tr>
              <tr>              
                <th></th>              
                <th></th>              
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
                
                
              
              </table>
        </div>
        <div class="C1">
         
            <table class="default">

                <tr>
              
                  <th>Hoy</th>
              
                  <th>Mañana</th>
              
                  <th>Miércoles</th>
              
                </tr>
              
                <tr>
              
                  <td>Soleado</td>
              
                  <td>Mayormente soleado</td>
              
                  <td>Parcialmente nublado</td>
              
                </tr>
              
                <tr>
              
                  <td>19°C</td>
              
                  <td>17°C</td>
              
                  <td>12°C</td>
              
                </tr>
              
                <tr>
              
                  <td>E 13 km/h</td>
              
                  <td>E 11 km/h</td>
              
                  <td>S 16 km/h</td>
              
                </tr>
              
              </table>
          </div>
          <div class="C1">
         
            <table class="default">

                <tr>
              
                  <th>Hoy</th>
              
                  <th>Mañana</th>
              
                  <th>Miércoles</th>
              
                </tr>
              
                <tr>
              
                  <td>Soleado</td>
              
                  <td>Mayormente soleado</td>
              
                  <td>Parcialmente nublado</td>
              
                </tr>
              
                <tr>
              
                  <td>19°C</td>
              
                  <td>17°C</td>
              
                  <td>12°C</td>
              
                </tr>
              
                <tr>
              
                  <td>E 13 km/h</td>
              
                  <td>E 11 km/h</td>
              
                  <td>S 16 km/h</td>
              
                </tr>
              
              </table>
          </div>     
    
         
      </div>

</body>
</html>
